.tweet-wrapper{
    width: 90vw;
    height: 130px;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 5px 5px 20px lightgrey;
    display: flex;
}

.tweet-content{
    width: 80%;
    height: stretch;
    background: lightblue;
    display: flex;
    flex-direction: column;
}

.tweet-share{
    width: 20%;
    height: stretch;
    background: blue;
}

.tweet-user{
    width: 100%;
    background: pink;
    display:flex;
}
.tweet-text{
    width:100%;
    height:50px;
    background: cyan;
}

.user-profile-pic{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}